{% extends 'base.html.twig' %}

{% block title_page %}
    {{ parent() }} - {{ 'menu.members'|trans }}
{% endblock %}

{% block h1 %} {{ 'menu.members'|trans }} {% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{ 'h3.new_member'|trans }}</h3>
            {{ component('Administration:User:UserAdd') }}
        </div>
    </div>
{% endblock %}
