{% extends 'base.html.twig' %}

{% block title_page %}
    {{ parent() }} - {{ 'menu.period'|trans }}
{% endblock %}

{% block h1 %} {{ 'menu.period'|trans }} {% endblock %}

{% block content %}
    <div>
        <div class="d-flex mb-4">
            <div class="">
                <a class="btn btn-primary" href="{{ path('admin_membersAdd') }}"><i class="fa-solid fa-user-plus"></i> {{ 'button.add'|trans }}</a>
            </div>
        </div>
        {% for licensePeriod in licensePeriods %}
            {{ component('Administration:LicensePeriod:PeriodComponent', {
                id: licensePeriod.id,
                startYear: licensePeriod.startDate|date('Y'),
                endYear: licensePeriod.endDate|date('Y'),
                timeStatusEnum: licensePeriod.status,
            }) }}
        {% endfor %}
    </div>
{% endblock %}
