{% extends 'base.html.twig' %}

{% block title_page %}
    {{ parent() }} - {{ 'menu.news'|trans }}
{% endblock %}

{% block h1 %} {{ 'menu.news'|trans }} {% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="form-group mb-2">
        <label for="quill-editor-container">Contenu</label>
        {# Le div qui sera transformé en éditeur Quill.
               Le 'data-quill-editor' pointe vers l'ID du champ caché. #}
        <div id="quill-editor-container" data-quill-editor="{{ form.content.vars.id }}" style="height: 300px; background-color: white;">
            {# Le contenu initial du champ sera injecté ici par JS #}
        </div>
        {# Le champ caché qui recevra le contenu HTML de Quill #}
        {{ form_row(form.content) }}
    </div>
    <div>
        <button type="submit" class="btn btn-success"><i class="fa-solid fa-check"></i> {{ 'button.save'|trans }}</button>
        <a href="#" class="btn btn-outline-secondary">{{ 'button.cancel'|trans }}</a>
    </div>
    {{ form_end(form) }}
{% endblock %}
