{% extends 'base.html.twig' %}

{% block title_page %}
    {{ parent() }} - {{ 'menu.joinUs'|trans }}
{% endblock %}

{% block h1 %} {{ 'menu.findUs'|trans }} {% endblock %}

{% block content %}

    <ul class="nav nav-pills mb-4">
        <li class="nav-item">
            <a class="flex-sm-fill text-sm-center nav-link outdoorlink {% if enum('App\\Enum\\TypePlaceEnum').OUTDOOR == typePlace %}active{% endif %}"
               href="{{ path('findUs', { 'typePlace': enum('App\\Enum\\TypePlaceEnum').OUTDOOR.value }) }}">{{ 'enum.trainingPlace.outdoor'|trans }}
            </a>
        </li>
        <li class="nav-item">
            <a class="flex-sm-fill text-sm-center nav-link indoorlink {% if enum('App\\Enum\\TypePlaceEnum').INDOOR == typePlace %}active{% endif %}"
               href="{{ path('findUs', { 'typePlace': enum('App\\Enum\\TypePlaceEnum').INDOOR.value }) }}">{{ 'enum.trainingPlace.indoor'|trans }}
            </a>
        </li>
    </ul>

    <twig:TrainingPlaceComponent
            typePlaceEnum="{{ typePlace }}"
    />
{% endblock %}
