
<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ 'global.info.description'|trans }}">
    <meta name="author" content="Jérôme">
    <title>{{ 'global.info.title'|trans }}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('build/images/favicon.ico') }}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
        <header class="border-bottom">
            <div class="container my-1">
                <a href="/">
                    <img class="logo" src="{{ asset('build/images/logo-titre.png') }}"/>
                </a>
            </div>
        </header>
        <nav class="py-2 main-nav border-bottom">
            <div class="container d-flex flex-wrap">
                <ul class="nav me-auto">
                    <li class="nav-item"><a href="#" class="nav-link px-2 active"><i class="fa-solid fa-house"></i> Accueil</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2">Actualités</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2" aria-current="page">La compagnie</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2">Inscriptions</a></li>
                </ul>
                <ul class="nav">
                    <li class="nav-item"><a href="#" class="nav-link px-2"><i class="fa-solid fa-user"></i> S'identifier</a></li>
                </ul>
            </div>
        </nav>
        <main class="container mt-4">
            <div class="row">
                <div class="col-8">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="col-4">
                    <div>
                        <div class="px-2 mb-3 bg-light rounded">
                            <h4 class="fst-italic">Entrainement hivernal</h4>
                            <div class="mb-2">
                                <div class="">Mardi</div>
                                <div class="ms-3"> 19h15 - 20h45 (débutant)</div>
                                <div class="ms-3"> 19h15 - 21h15 (confirmé)</div>
                            </div>
                            <div class="mb-4">
                                <div>Samedi</div>
                                <div class="ms-3">9h30 - 11h00 (débutant)</div>
                                <div class="ms-3">9h30 - 11h30 (confirmé)</div>
                            </div>
                            <div>
                                <div><i class="fa-solid fa-location-dot"></i> Gymnase Sylvie Dupays - Roger Couderc</div>
                                <div class="ms-3">96 Rue de la Planchette</div>
                                <div class="ms-3">60870 Brenouille</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="footer mt-auto py-3 bg-light text-muted">
            <div class="container text-center">
                <div class="row g-2">
                    <div class="col-4"><i class="fa-solid fa-location-dot"></i> Allée des archers 60870 Rieux</div>
                    <div class="col-4"><i class="fa-solid fa-phone"></i> 06.08.35.78.97</div>
                    <div class="col-4"><i class="fa-solid fa-at"></i> contact@cie-arc-rieux.fr</div>
                </div>
                <div class="my-2">© {{ 'global.info.title'|trans }} (1851 - {{ 'now'|date('Y') }})</div>
            </div>
        </footer>
</body>
</html>
