
<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ 'global.info.description'|trans }}">
    <meta name="author" content="Jérôme">
    <title>{% block title_page %}{{ 'global.info.title'|trans }}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('build/images/favicon.ico') }}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    <header class="border-bottom">
        <div class="container my-1">
            <a href="{{ path('home') }}">
                <img class="logo" src="{{ asset('build/images/logo-titre.png') }}"/>
            </a>
        </div>
    </header>
    <nav class="py-2 main-nav border-bottom">
        <div class="container d-flex flex-wrap">
            {% set route = app.request.get('_route') %}
            <ul class="nav me-auto">
                <li class="nav-item"><a href="{{ path('home') }}" class="nav-link px-2 {% if (route starts with 'home') %}active{% endif %}"><i class="fa-solid fa-house"></i> {{ 'menu.home'|trans }}</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">{{ 'menu.news'|trans }}</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2" aria-current="page">{{ 'menu.club'|trans }}</a></li>
                <li class="nav-item"><a href="{{ path('license') }}" class="nav-link px-2 {% if (route starts with 'license') %}active{% endif %}">{{ 'menu.license'|trans }}</a></li>
            </ul>
            <ul class="nav">
                <li class="nav-item"><a href="#" class="nav-link px-2"><i class="fa-solid fa-user"></i> {{ 'menu.login'|trans }}</a></li>
            </ul>
        </div>
    </nav>
    <main class="container my-5">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer mt-auto py-3 bg-light text-muted">
        <div class="container text-center">
            <div class="row g-2">
                <div class="col-4"><i class="fa-solid fa-location-dot"></i> Allée des archers 60870 Rieux</div>
                <div class="col-4"><i class="fa-solid fa-phone"></i> 06.08.35.78.97</div>
                <div class="col-4"><i class="fa-solid fa-at"></i> contact@cie-arc-rieux.fr</div>
            </div>
            <div class="my-2">© {{ 'global.info.title'|trans }} (1851 - {{ 'now'|date('Y') }})</div>
        </div>
    </footer>
</body>
</html>
