{%- block form_row -%}
    {%- set widget_attr = {} -%}
    {%- set row_attr = {class: 'mb-3'} -%}

    {% if field_errors(form)|length %}
        {% set var_class = 'form-control is-invalid' %}
    {% else %}
        {% set var_class = 'form-control' %}
    {% endif %}

    {%- set widget_attr = {attr: {class: var_class}} -%}

    <div {% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {{- form_label(form) -}}
        {{- form_widget(form, widget_attr) -}}
        {{- form_help(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="invalid-feedback">
            {%- for error in errors -%}
                <p class="mb-1">{{ error.message }}</p>
            {%- endfor -%}
        </div>
    {%- endif -%}
{%- endblock form_errors -%}
