<div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
        <li class="nav-item"><a href="{{ path('home') }}" class="nav-link px-2"><i class="fa-solid fa-house"></i> {{ 'menu.home'|trans }}</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2">{{ 'menu.news'|trans }}</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                {{ 'menu.club'|trans }}
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ path('findUs', {typePlace: typePlaceActive().value}) }}">{{ 'menu.findUs'|trans }}</a></li>
            </ul>
        </li>
        <li class="nav-item"><a href="{{ path('joinUs') }}" class="nav-link px-2">{{ 'menu.joinUs'|trans }}</a></li>
    </ul>
    <ul class="nav">
        {% if not app.user %}
            <li class="nav-item"><a href="{{ path('login') }}" class="nav-link px-2"><i class="fa-solid fa-user"></i> {{ 'menu.login'|trans }}</a></li>
        {% endif %}
    </ul>
</div>
