{% extends 'administration/period/base-details.html.twig' %}

{% block content_details %}
    <div class="mb-5">
        <div class="d-flex flex-row mb-3">
            <div>
                <h3>{{ 'h3.license'|trans }} </h3>
            </div>
            {% if is_granted('edit', licensePeriod) %}
                <div class="ms-4"><a href="{{ path('admin_periodLicensePrice', {id: licensePeriod.id}) }}" class="btn btn-primary"><i class="fa-solid fa-pen"></i>
                        {{ 'button.edit'|trans }}</a></div>
            {% endif %}
        </div>
        {{ component('LicensesActiveComponent', {
            licensePeriod: licensePeriod,
            showDetails: false,
        }) }}
    </div>
    <div>
        <div class="d-flex flex-row mb-3">
            <div>
                <h3>{{ 'h3.rent'|trans }} </h3>
            </div>
            {% if is_granted('edit', licensePeriod) %}
                <div class="ms-4"><a href="{{ path('admin_periodRentPrice', {id: licensePeriod.id}) }}" class="btn btn-primary"><i class="fa-solid fa-pen"></i> {{ 'button.edit'|trans }}</a></div>
            {% endif %}
        </div>
        {{ component('RentsActiveComponent', {
            licensePeriod: licensePeriod,
            showDetails: false,
        }) }}
    </div>
{% endblock %}
